.footer {
  background-color: red;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  opacity: 0;
}

.footer--visible {
  visibility: visible;
  opacity: 1; 
}