.product-categories {
  .category {
    margin-bottom: 1rem;
    padding: 5%;
    h2 {
      margin-bottom: 1rem;
    }

    .products-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: left;
    }
  }
}

$small: 576px; 
$medium: 768px;
$large: 992px; 
$xlarge: 1200px;

@media (max-width: $xlarge) {
  .product-categories .category .products-grid .product-card {
    width: calc(30% - 1rem); 
  }
}

@media (max-width: $large) {
  .product-categories .category .products-grid .product-card {
    width: calc(46% - 1rem); 
  }
}

@media (max-width: $medium) {
  .product-categories .category .products-grid .product-card {
    width: calc(45% - 1rem); 
  }
}

@media (max-width: $small) {
  .product-categories .category .products-grid .product-card {
    width: 90%;
  }
  .product-categories {
    margin: 5%;
  }
}